@import url(/Users/nkmr35/Downloads/udemy/chapter02/css/sanitize.css);

body{
    background-color: #f0f0f0;
    padding: 10px;
    font-size: 14px;
    color: #666;
}

.container{
    width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    margin: 0 auto;
}

header{
    background-color: #422814;
    padding: 10px;
    color: #fff;
}

header h1{
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.description{
    clear: left;
}

.description img{
    float: left;
    margin: 0 10px 10px 0;
}

.information h1{
    font-size: 18px;
    margin: 0 10px 10px 0;
    float: left;
}

.information .type{
    display: inline;
    background-color: #E35A4D;
    padding: 3px 5px;
    font-size: 80%;
    color: #fff;
}